.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.417000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.327148;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.331543;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.318848;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.019531;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.330078;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.973633;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._c{margin-left:-7.108000px;}
._8{margin-left:-5.124000px;}
._7{margin-left:-4.116000px;}
._9{margin-left:-2.436000px;}
._0{margin-left:-1.120000px;}
._1{width:1.840000px;}
._b{width:2.856000px;}
._6{width:3.920000px;}
._2{width:15.840000px;}
._a{width:20.592000px;}
._4{width:213.520000px;}
._3{width:257.200000px;}
._5{width:321.040000px;}
.fc5{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fc1{color:rgb(48,79,254);}
.fc2{color:rgb(97,97,97);}
.fc4{color:rgb(87,87,87);}
.fc3{color:rgb(29,233,182);}
.fs9{font-size:68.000000px;}
.fs8{font-size:72.000000px;}
.fsa{font-size:76.000000px;}
.fs1{font-size:80.000000px;}
.fs5{font-size:84.000000px;}
.fs3{font-size:116.000000px;}
.fs4{font-size:128.000000px;}
.fs0{font-size:156.000000px;}
.fs6{font-size:176.000000px;}
.fs7{font-size:180.000000px;}
.fs2{font-size:252.000000px;}
.y0{bottom:0.000000px;}
.y30{bottom:116.000000px;}
.y32{bottom:168.003000px;}
.y2f{bottom:183.000000px;}
.y31{bottom:220.006000px;}
.y2b{bottom:552.000000px;}
.y2e{bottom:612.000000px;}
.y2d{bottom:613.000000px;}
.y2c{bottom:627.000000px;}
.y26{bottom:718.016000px;}
.y2a{bottom:1323.000000px;}
.y29{bottom:1385.016000px;}
.y28{bottom:1447.008000px;}
.y27{bottom:1509.000000px;}
.y25{bottom:1604.000000px;}
.y24{bottom:1682.000000px;}
.y1a{bottom:2073.000000px;}
.y23{bottom:2080.000000px;}
.y19{bottom:2212.000000px;}
.y22{bottom:2223.000000px;}
.y18{bottom:2351.000000px;}
.y21{bottom:2366.000000px;}
.y17{bottom:2490.000000px;}
.y20{bottom:2509.000000px;}
.y16{bottom:2629.000000px;}
.y1f{bottom:2652.000000px;}
.yf{bottom:2754.012000px;}
.y1e{bottom:2910.979000px;}
.y1d{bottom:2945.986000px;}
.y1c{bottom:2980.993000px;}
.y1b{bottom:3016.000000px;}
.ye{bottom:3109.004000px;}
.y15{bottom:3540.965000px;}
.y14{bottom:3575.972000px;}
.y13{bottom:3610.979000px;}
.y12{bottom:3645.986000px;}
.y11{bottom:3680.993000px;}
.y10{bottom:3716.000000px;}
.yd{bottom:3809.000000px;}
.ya{bottom:4419.979000px;}
.y9{bottom:4454.986000px;}
.y8{bottom:4489.993000px;}
.y7{bottom:4525.000000px;}
.yc{bottom:4606.000000px;}
.yb{bottom:4611.000000px;}
.y6{bottom:4612.000000px;}
.y5{bottom:5396.000000px;}
.y4{bottom:5530.000000px;}
.y3{bottom:5587.000000px;}
.y1{bottom:5976.000000px;}
.y2{bottom:5985.000000px;}
.hd{height:57.128906px;}
.h9{height:66.650391px;}
.hf{height:71.253906px;}
.he{height:72.017578px;}
.hc{height:75.445312px;}
.ha{height:76.253906px;}
.h10{height:79.636719px;}
.h11{height:80.267578px;}
.h2{height:84.492188px;}
.h6{height:88.019531px;}
.h4{height:121.550781px;}
.h5{height:135.187500px;}
.hb{height:185.882812px;}
.h7{height:186.398438px;}
.h1{height:188.292000px;}
.h8{height:190.898438px;}
.h3{height:267.257812px;}
.h0{height:6084.000000px;}
.w0{width:1920.000000px;}
.x0{left:0.000000px;}
.x1{left:140.000000px;}
.x7{left:211.384800px;}
.x9{left:238.684800px;}
.x8{left:242.716800px;}
.xa{left:259.663800px;}
.x3{left:271.000000px;}
.x6{left:276.000000px;}
.x4{left:278.000000px;}
.x5{left:313.000000px;}
.x1e{left:335.281100px;}
.x22{left:337.089800px;}
.x21{left:348.328600px;}
.x16{left:379.000000px;}
.x25{left:553.000000px;}
.x19{left:574.000000px;}
.x13{left:589.848000px;}
.x1b{left:622.000000px;}
.x18{left:652.000000px;}
.x1d{left:671.705100px;}
.x17{left:686.000000px;}
.x1a{left:735.000000px;}
.x14{left:741.736000px;}
.x1c{left:764.840800px;}
.x1f{left:772.672400px;}
.xc{left:774.311500px;}
.x20{left:776.016100px;}
.xb{left:806.000000px;}
.xd{left:924.188500px;}
.x15{left:1012.000000px;}
.x23{left:1079.478000px;}
.x27{left:1108.011000px;}
.x12{left:1127.000000px;}
.x26{left:1158.000000px;}
.x2{left:1228.000000px;}
.x28{left:1268.010000px;}
.x10{left:1403.744500px;}
.xf{left:1407.041500px;}
.xe{left:1426.000000px;}
.x11{left:1427.621500px;}
.x24{left:1515.384800px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._c{margin-left:-9.477333pt;}
._8{margin-left:-6.832000pt;}
._7{margin-left:-5.488000pt;}
._9{margin-left:-3.248000pt;}
._0{margin-left:-1.493333pt;}
._1{width:2.453333pt;}
._b{width:3.808000pt;}
._6{width:5.226667pt;}
._2{width:21.120000pt;}
._a{width:27.456000pt;}
._4{width:284.693333pt;}
._3{width:342.933333pt;}
._5{width:428.053333pt;}
.fs9{font-size:90.666667pt;}
.fs8{font-size:96.000000pt;}
.fsa{font-size:101.333333pt;}
.fs1{font-size:106.666667pt;}
.fs5{font-size:112.000000pt;}
.fs3{font-size:154.666667pt;}
.fs4{font-size:170.666667pt;}
.fs0{font-size:208.000000pt;}
.fs6{font-size:234.666667pt;}
.fs7{font-size:240.000000pt;}
.fs2{font-size:336.000000pt;}
.y0{bottom:0.000000pt;}
.y30{bottom:154.666667pt;}
.y32{bottom:224.004000pt;}
.y2f{bottom:244.000000pt;}
.y31{bottom:293.341333pt;}
.y2b{bottom:736.000000pt;}
.y2e{bottom:816.000000pt;}
.y2d{bottom:817.333333pt;}
.y2c{bottom:836.000000pt;}
.y26{bottom:957.354667pt;}
.y2a{bottom:1764.000000pt;}
.y29{bottom:1846.688000pt;}
.y28{bottom:1929.344000pt;}
.y27{bottom:2012.000000pt;}
.y25{bottom:2138.666667pt;}
.y24{bottom:2242.666667pt;}
.y1a{bottom:2764.000000pt;}
.y23{bottom:2773.333333pt;}
.y19{bottom:2949.333333pt;}
.y22{bottom:2964.000000pt;}
.y18{bottom:3134.666667pt;}
.y21{bottom:3154.666667pt;}
.y17{bottom:3320.000000pt;}
.y20{bottom:3345.333333pt;}
.y16{bottom:3505.333333pt;}
.y1f{bottom:3536.000000pt;}
.yf{bottom:3672.016000pt;}
.y1e{bottom:3881.305333pt;}
.y1d{bottom:3927.981333pt;}
.y1c{bottom:3974.657333pt;}
.y1b{bottom:4021.333333pt;}
.ye{bottom:4145.338667pt;}
.y15{bottom:4721.286667pt;}
.y14{bottom:4767.962667pt;}
.y13{bottom:4814.638667pt;}
.y12{bottom:4861.314667pt;}
.y11{bottom:4907.990667pt;}
.y10{bottom:4954.666667pt;}
.yd{bottom:5078.666667pt;}
.ya{bottom:5893.305333pt;}
.y9{bottom:5939.981333pt;}
.y8{bottom:5986.657333pt;}
.y7{bottom:6033.333333pt;}
.yc{bottom:6141.333333pt;}
.yb{bottom:6148.000000pt;}
.y6{bottom:6149.333333pt;}
.y5{bottom:7194.666667pt;}
.y4{bottom:7373.333333pt;}
.y3{bottom:7449.333333pt;}
.y1{bottom:7968.000000pt;}
.y2{bottom:7980.000000pt;}
.hd{height:76.171875pt;}
.h9{height:88.867188pt;}
.hf{height:95.005208pt;}
.he{height:96.023438pt;}
.hc{height:100.593750pt;}
.ha{height:101.671875pt;}
.h10{height:106.182292pt;}
.h11{height:107.023438pt;}
.h2{height:112.656250pt;}
.h6{height:117.359375pt;}
.h4{height:162.067708pt;}
.h5{height:180.250000pt;}
.hb{height:247.843750pt;}
.h7{height:248.531250pt;}
.h1{height:251.056000pt;}
.h8{height:254.531250pt;}
.h3{height:356.343750pt;}
.h0{height:8112.000000pt;}
.w0{width:2560.000000pt;}
.x0{left:0.000000pt;}
.x1{left:186.666667pt;}
.x7{left:281.846400pt;}
.x9{left:318.246400pt;}
.x8{left:323.622400pt;}
.xa{left:346.218400pt;}
.x3{left:361.333333pt;}
.x6{left:368.000000pt;}
.x4{left:370.666667pt;}
.x5{left:417.333333pt;}
.x1e{left:447.041467pt;}
.x22{left:449.453067pt;}
.x21{left:464.438133pt;}
.x16{left:505.333333pt;}
.x25{left:737.333333pt;}
.x19{left:765.333333pt;}
.x13{left:786.464000pt;}
.x1b{left:829.333333pt;}
.x18{left:869.333333pt;}
.x1d{left:895.606800pt;}
.x17{left:914.666667pt;}
.x1a{left:980.000000pt;}
.x14{left:988.981333pt;}
.x1c{left:1019.787733pt;}
.x1f{left:1030.229867pt;}
.xc{left:1032.415333pt;}
.x20{left:1034.688133pt;}
.xb{left:1074.666667pt;}
.xd{left:1232.251333pt;}
.x15{left:1349.333333pt;}
.x23{left:1439.304000pt;}
.x27{left:1477.348000pt;}
.x12{left:1502.666667pt;}
.x26{left:1544.000000pt;}
.x2{left:1637.333333pt;}
.x28{left:1690.680000pt;}
.x10{left:1871.659333pt;}
.xf{left:1876.055333pt;}
.xe{left:1901.333333pt;}
.x11{left:1903.495333pt;}
.x24{left:2020.513067pt;}
}
